/*Variables globales CSS*/

:root{
    --main-color:  #9B59B6;
    --secondary-color: #6C3483;
    --header-color: #F9E79F;
    --form-color: #FEF9E7;
    --footer-color: #F4D03F;
    --question-color: #E74C3C;
    
    --small-font: 20px;
    --medium-font: 22px;
    --big-font: 25px;
    --large-font: 30px;    
}
