/*Variables globales CSS*/

:root{
    --main-color:  #9B59B6;
    --secondary-color: #6C3483;
    --header-color: #F9E79F;
    --form-color: #FEF9E7;
    --footer-color: #F4D03F;
    --question-color: #E74C3C;
    
    --small-font: 20px;
    --medium-font: 22px;
    --big-font: 25px;
    --large-font: 30px;    
}

/*Fuente para el proyecto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


/*Estilos Universales*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: var(--small-font);
}

/*Estilos para todos los elementos <a>*/

a{
    text-decoration:none;
}


/*Estilos Columna-vertebral*/

body{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
     "encabezado encabezado encabezado"
     "principal principal principal"
     "piepag piepag piepag"
    ;
}

header{
    grid-area: encabezado;
    width: 100%;
    padding: 30px 40px 30px 40px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    text-transform: uppercase;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px 2px var(--header-color);
}

.menu--options ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.menu--options ul li{
    border-inline-end: 3px solid var(--header-color);
    padding-inline-end:15px;
}

.menu--options ul li a{
    color: var(--header-color);
    font-weight: 700;
}

.search--bar{
    display: flex;
    justify-content: space-around;
}

.menu--login{
    justify-self: flex-end;
}

.search--bar input{
    width: 80%;
    height: 45px;
    border-radius: 20px;
    border: 0;
    outline: 4px solid var(--header-color);
    padding-inline-start: 30px;
    transition: width 3s ease-out;
}

.search--bar input:hover{
    width: 90%;
    background-color: var(--form-color);
    outline: 4px solid var(--footer-color);
}

.search--bar span{
    align-self: center;
}

.fa-solid{
    font-size: 30px;
}

.fa-magnifying-glass{
    color: var(--header-color);
}

.btn-type1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 60px;
    background-color: var(--header-color);
    border-radius: 10px;
    color: var(--main-color);
    font-weight: 700;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    box-shadow: 0px 0px 5px 2px var(--secondary-color);
}

.btn-type1:hover{
    box-shadow: 0px 0px 5px 2px var(--header-color);
    background-color: var(--footer-color);

}

main{
    grid-area: principal;
}

footer{
    grid-area: piepag;
}

/*Estilos en el contenedor principal*/


main{
    width: 100%;
    height: auto;
    padding: 50px 60px 50px 60px;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
    min-width: 360px;
    justify-items: center;


}

.main__input, .main__statistics{
    width: 85%;
    height: auto;
    min-width: 360px;
    display: grid;
}

.main__input{
    row-gap: 40px;
    justify-items:center;
}

.main__input h1{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 900;
}

.main__input form{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
}

















/*
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:

    "encabezado encabezado encabezado"
    "principal principal principal"
    "piepag piepag piepag"

    ;
}

header{
    grid-area: encabezado;
}

main{
    grid-area: principal;

}

footer{
    grid-area: piepag;
}

*/